// #ifdef APP-PLUS || APP-HARMONY
import { initTDSDK,enableAutoTrackNative,setCustomerLibInfo,trackNative,trackUpdateNative,trackOverwriteNative,trackFirstNative,userSetNative,
    userSetOnceNative,userUnsetNative,userDelNative,userAddNative,userAppendNative,userUniqAppendNative,flushNative,setDistinctIdNative,
    getDistinctIdNative,loginNative,logoutNative,getAccountIdNative,setSuperPropertiesNative,clearSuperPropertiesNative,unsetSuperPropertyNatice,
    getSuperPropertiesNative,getPresetPropertiesNative,timeEventNative,getDeviceIdNative,setTrackStatusNative} from '@/uni_modules/td-analytics';
// #endif
